---
layout: layouts/inner.njk
title: Celeste

pagination:
  data: examples.list
  size: 1
  alias: example
permalink: /examples/{{example.id}}/
---

<article class="example">
  <h2 class="example__header">{{ example.title }}</h2>

  <section class="example__snippets">
    <div class="example__snippet">
      {% highlight "html" %}
        {{ example.htmlContent | safe }}
      {% endhighlight %}
    </div>
    <div class="example__snippet">
      {% highlight "css" %}
        {{ example.cssContent | safe }}
      {% endhighlight %}
    </div>
    <div class="example__snippet">
      {% highlight "js" %}
        {{ example.jsContent | safe }}
      {% endhighlight %}
    </div>
  </section>

  <section class="example__result">
    {{ example.embed | safe }}
  </section>
</article>
