---
layout: layouts/base.njk
---

<main class="landing">
  <h1 class="landing__project-name">
    {{siteData.name}}
  </h1>
  <h2 class="landing__project-description">
    {{siteData.description}}
  </h2>
</main>
