@import 'prism-ghcolors';
@import 'page-header';
@import 'page-content';
@import 'landing';
@import 'example';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434243;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: 'Fira Code', monospace !important;
  border: none !important;
}
