.supporters {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
}

.supporters__title {

}

.supporters__image {
  align-self: center;
  justify-self: center;
}
